@CHARSET "UTF-8";

/* Allgemein */
.wpsg_clear { clear:both; }
#wpsg_error, #wpsg_message { margin-bottom:1rem; }
#wpsg_message p, #wpsg_error p { background-color:#FAFAFA; margin-bottom:4px; padding:3px 0px 3px 8px; } 
#wpsg_message p { border-left:4px solid #7AD03A; }
#wpsg_error p { border-left:4px solid #DD3D36; }
.wpsg_error { border-color:#DD3D36; }
.wpsg { }
.wpsg h2 { }
.wpsg_checkout label.wpsg_error { background-color:white; } 
label.wpsg_error { position:absolute; right:2px; top:-2px; color:#DD3D36; }
input.wpsg_error { border-color:red !important; }
.wpsg_spacer { width:100%; height:1px; background-color:#EAEAEA; margin-bottom:1rem; }
.wpsg_noscroll { overflow:hidden; }
#TB_ajaxContent { width:100% !important; }
.wpsg_upper { vertical-align:top; font-size:60%; }

/* Basket Widget */
.wpsg_basket_widget .wpshopgermany_linktokasse { float:right; margin-top:1rem; } 

/* Basket */
.wpsg_basket { margin-bottom:1rem; }
.wpsg_basket h2 { }
.wpsg_basket table { margin-top:1rem; width:100%; }
.wpsg_basket table th { } 
.wpsg_basket .wpsg_basket_removelink { text-decoration:none; border:0px !important; }
.wpsg_basket .wpsg_cell_number { padding-left:0.3rem; padding-right:0.3rem; text-align:center; min-width:20px; }
.wpsg_basket .wpsg_cell_number img { max-width:auto !important; display:inline-block; }
.wpsg_basket .wpsg_cell_menge { text-align:center; }
.wpsg_basket .wpsg_cell_menge input {  text-align:center; }
.wpsg_basket .wpsg_cell_preis { text-align:right; }
.wpsg_basket .wpsg_cell_gesamtpreis { text-align:right; }
.wpsg_basket .wpsg_cell_summe_value { text-align:right; }
.wpsg_basket .wpsg_cell_shipping_value { text-align:right; }
.wpsg_basket .wpsg_cell_shipping_label select,
.wpsg_basket .wpsg_cell_shipping_label span { float:right; width:150px;clear:right; }
.wpsg_basket .wpsg_cell_shipping_label select.set_shipping { margin-bottom:5px; }
.wpsg_basket .wpsg_cell_payment_label select,
.wpsg_basket .wpsg_cell_payment_label span  { float:right; width:150px; }
.wpsg_basket .wpsg_cell_payment_value { text-align:right; }
.wpsg_basket .wpsg_cell_gesamtsumme_value { text-align:right; }
.wpsg_basket .wpsg_cell_deliverytime_value { text-align:right; }
.wpsg_basket .wpsg_cell_name { vertical-align:middle; }
.wpsg_basket .wpsg_cell_name .wpsg_basket_productimage { display:inline; padding-right:0.2rem; vertical-align:baseline; }
.wpsg_basket .wpsg_cell_mwst { text-align:center; min-width:60px; }
.wpsg_basket .wpsg_cell_mwst_value { text-align:right; }
.wpsg_basket .wpsg_cell_weight_value { text-align:right; }
.wpsg_basket .wpsg_checkoutbutton { float:right; }
.wpsg_basket .wpsg_cell_gesamtsumme_value { font-weight:bold; }
.wpsg_basketbutton { float:left; }

/* Checkout + Request*/
.wpsg_checkout .wpsg_checkoutblock { width:100%; clear:both; margin-bottom:2px; position:relative; width:100%; }
.wpsg_checkout .wpsg_checkoutblock label { vertical-align:middle; }
.wpsg_checkout .wpsg_checkoutblock input.wpsg_input_text,
.wpsg_checkout .wpsg_checkoutblock input[type="text"], 
.wpsg_checkout .wpsg_checkoutblock input[type="password"] { margin-bottom:5px; box-sizing:border-box; width:100%; }
.wpsg_checkout .wpsg_checkoutblock input[type="checkbox"] { width:auto; margin-right:5px; }
.wpsg_checkout .wpsg_checkoutblock select { box-sizing:border-box; width:100%; margin-bottom:5px; }
.wpsg_checkout .wpsg_mandatoryfield_hint { margin-top:1rem; }
.wpsg_checkout .wpsg_required { font-weight:bold; color:#FF0000; }
.wpsg_checkout .wpsg_checkout2button { float:right; }
.wpsg_checkout .wpsg_mod_ordervars { margin-bottom:1rem; }
.wpsg_checkout .wpsg_commentblock textarea { box-sizing:border-box; padding:2px; width:100%; height:150px; }

/* Checkout2 */
.wpsg_checkout2 .wpsg_shipping { width:100%; margin-bottom:0.5rem; clear:both; }
.wpsg_checkout2 .wpsg_shipping .checkbox { padding-left:10px; width:45px; float:left; }
.wpsg_checkout2 .wpsg_mandatoryfield_hint { margin-top:1rem; }
.wpsg_checkout2 #wpsg_box_payship { margin-bottom:1rem; }
.wpsg_checkout2 .shippay { min-height:90px; position:relative; padding-left:35px; cursor:pointer; border:1px solid #EAEAEA; border-radius:2px; margin-bottom:0.5rem; }
.wpsg_checkout2 .shippay img { margin:10px 0px 10px 0px; }
.wpsg_checkout2 .shippay .checkbox { position:absolute; left:0px; top:30px; }
.wpsg_checkout2 .wpsg_payment { width:100%; }
.wpsg_checkout2 .wpsg_payment .checkbox { padding-left:10px; width:45px; float:left; }
.wpsg_checkout2 .wpsg_payment { margin-top:1rem; }
.wpsg_checkout2 .wpsg_hover { background-color:#EAEAEA; }
.wpsg_checkout2 .shippay .info { line-height:93px; }
.wpsg_checkout2 .shippay .info label { float:left; cursor:pointer; }
.wpsg_checkout2 .shippay .info img { }
.wpsg_checkout2 .shippay .shippay_hint { clear:both; display:block; padding:0px 15px 15px 0px; line-height:150%; }
.wpsg_checkout2 .wpsg_overviewbutton { float:right; }
.wpsg_checkout2 .wpsg_checkoutbutton { float:left; }

/* Overview */
.wpsg_overview .wpsg_agb { width:100%; clear:both; margin-bottom:2px; }
.wpsg_overview .wpsg_agb label { line-height:18px; }
.wpsg_overview .wpsg_agb input[type="checkbox"] { width:auto; /*margin-top:10px; margin-right:10px;*/ }
.wpsg_overview .shippayment { margin-top:1rem; float:right; width:45%; }
.wpsg_overview .anschrift { margin-top:1rem; float:left; width:55%; }
.wpsg_overview .subtitle { font-weight:bold; margin-bottom:0.5rem; }
.wpsg_overview .wpsg_orderbutton { float:right; }
.wpsg_overview .wpsg_table_wrap { background-color:#EAEAEA; margin:10px -10px 10px -10px; padding:10px; }
.wpsg_overview .wpsg_table_wrap table { width:100%; }
.wpsg_overview .wpsg_table_wrap td, .wpsg_overview .wpsg_table_wrap th { }
.wpsg_overview .wpsg_table_wrap .wpsg_cell_menge { width:100px; text-align:center; }
.wpsg_overview .wpsg_table_wrap .wpsg_cell_mwst { width:100px; text-align:center; }
.wpsg_overview .wpsg_table_wrap .wpsg_cell_preis { text-align:right; }
.wpsg_overview .wpsg_table_wrap .wpsg_cell_gesamtpreis { text-align:right; }
.wpsg_overview .wpsg_table_wrap .wpsg_cell_summe_value { text-align:right; }
.wpsg_overview .wpsg_table_wrap .wpsg_cell_shipping_value { text-align:right; }
.wpsg_overview .wpsg_table_wrap .wpsg_cell_payment_value { text-align:right; }
.wpsg_overview .wpsg_table_wrap .wpsg_cell_gesamt_value { text-align:right; font-weight:bold; }
.wpsg_overview .wpsg_table_wrap .wpsg_cell_mwst_value { text-align:right; }
.wpsg_overview .wpsg_overview_productimage { display:inline; padding-right:0.2rem; vertical-align:baseline; }
.wpsg_overview .wpsg_cell_weight_value { text-align:right; }
.wpsg_overview .wpsg_cell_deliverytime_value { text-align:right; }

/* Bestellvariablen */
.wpsg_checkout .wpsg_mod_ordervars_field { display:inline; }

/* Produktvariablen */
.wpsg_basket .wpsg_basket_productvars input[type="text"], .wpsg_basket .wpsg_basket_productvars select { width:100%; }

/* Profilseite */
.wpsg_profil .wpsg_pwdvergessen_link { line-height:30px; }
.wpsg_profil .wpsg_mod_kundenverwaltung_login, .wpsg_checkout .wpsg_mod_kundenverwaltung_login { float:right; }
.wpsg_profil .wpsg_saveButton { float:right; }

/* Produktattribute */
.wpsg_cell_produktattribute_value { text-align:right; }

/* Bestellansicht */
.wpsg_mod_kundenverwaltung_order .wpsg_mod_kundenverwaltung_producttable { margin-top:1rem; margin-bottom:2rem; }

/* Trusted Shops Integration */
.wpsg_checkout label[for="wpsg_mod_trustedshops_set"] { margin:1rem 0 1rem 0; display:block; }

/* Bankeinzug */
.wpsg_mod_autodebit .wpsg_mod_autodebit_field { clear:both; }
.wpsg_mod_autodebit label { width:100%; line-height:36px; }
.wpsg_mod_autodebit input { float:right; margin-bottom:3px; }

/* Versandadresse */ 
.wpsg_checkout .wpsg_mod_shippingadress { margin-bottom:1rem; }

/* Produkttemplate */
.wpsg_produkt_wrapper { margin:5px -10px 5px -10px; padding:10px; width:100%; line-height:1.5em; }
.wpsg_produkt_wrapper .wpsg_produkt_produktbilder { float:left; margin-right:1rem; margin-bottom:1rem; }
.wpsg_produkt_wrapper .wpsg_product_afterimage { }
.wpsg_produkt_wrapper .wpsg_product_afterimage .wpsg_producttitle { clear:none; }
.wpsg_produkt_wrapper .wpsg_add_basket { margin:1rem 0; float:right; }
.wpsg_produkt_wrapper .wpsg_produkt_add_basket_wrapper { clear:both; float:left; margin:1rem 0 0 0; }
.wpsg_produkt_wrapper .wpsg_label { display:inline; }
.wpsg_produkt_wrapper .wpsg_value { display:inline; }
.wpsg_produkt_wrapper .wpsg_preis_prediscount { text-decoration: line-through; }
.wpsg_produkt_wrapper .wpsg_menge { width:auto; }
.wpsg_productform { position:relative; }
.wpsg_productform .wpsg_product_layer { z-index:1000; background-color:rgba(125, 125, 125, 0.5); position:absolute; left:-10px; top:-10px; width:100%; height:100%; padding:20px; }
.wpsg_productform .wpsg_product_layer img { position:absolute; left:50%; top:50%;  margin-left:-8px; margin-top:-5.5px; }

/* Varianten */
.wpsg_produkt_wrapper .wpsg_vp_field { clear:both; margin-bottom:1rem; }
.wpsg_produkt_wrapper .wpsg_vp_field_image { clear:both; display:block; }
.wpsg_produkt_wrapper .wpsg_vp_field_typ_radio label { clear: both; float: left; }
.wpsg_overview .wpsg_mod_varianten_value { text-align:right; }
.wpsg_mod_varianten_imageselect {}
.wpsg_mod_varianten_imageselect .image { padding:10px; display:inline-block; }
.wpsg_mod_varianten_imageselect .akt { padding:5px; border:5px solid #C5C5C5; }
.wpsg_mod_varianten_imageselect a { text-decoration:none; }

/* Warenkorbwidget */
.wpsg_basket_widget { }
.wpsg_basket_widget table { width:100%; }
.wpsg_basket_widget table td { line-height:1.25rem; }
.wpsg_basket_widget table .wpsg_cell_name { padding-left:0.2rem; }
.wpsg_basket_widget table .wpsg_cell_amount { text-align:right; padding-right:0.2rem; }
.wpsg_basket_widget table .wpsg_row_summary .wpsg_cell_amount { font-weight:bold; }

/* Modul Gutscheine */
.wpsg_basket .wpsg_cell_gutschein  { vertical-align:middle; }
.wpsg_basket .wpsg_cell_gutschein input[type="submit"] { float:right; }
.wpsg_basket .wpsg_cell_gutschein input[type="text"] { float:right; margin-top:2px; margin-right:10px; vertical-align:baseline; }
.wpsg_basket .wpsg_cell_gutschein label { line-height:35px; }

/* Modul Kundenverwaltung */
.wpsg_mod_kundenverwaltung_widget input[type="text"], .wpsg_mod_kundenverwaltung_widget input[type="password"] { width:100%; margin-bottom:0.5rem; }
.wpsg_mod_kundenverwaltung_widget input[type="submit"] { float:right; }

/* Modul wirecard */
.wpsg_mod_wirecard_paymentType { width:50%; float:right; }
#wpsg_mod_wirecard_iframe { width:100%; height:700px; }

/* Modul Bestellbedingungen */
.wpsg_mod_ordercondition_hint { padding-left:18px; max-height:60px; overflow-y:scroll; }

/* Modul Micropayment */
.micropayment_card .card { border-radius:5px; background-color:#999999; margin-bottom:1rem; height:200px; width:400px; position:relative; }
.micropayment_card .front .number input { width:370px; position:absolute; bottom:50px; left:15px; box-sizing:border-box; }
.micropayment_card .front .name { position:absolute; left:25px; bottom:20px; color:#FFFFFF; text-shadow: 1px 1px 0px #202020, -1px -1px 0px #606060; letter-spacing:2px; }
.micropayment_card .front .validthrough { position:absolute; right:135px; bottom:20px; color:#FFFFFF; text-shadow: 1px 1px 0px #202020, -1px -1px 0px #606060; letter-spacing:2px; }
.micropayment_card .front .valid { position:absolute; right:15px; bottom:20px; }
.micropayment_card .front .chip { left:25px; top:50px; position:absolute; width:50px; height:44px; background-image:url('../mods/mod_micropayment/gfx/chip.png'); background-repeat:no-repeat; }
.micropayment_card .card .bankname { position:absolute; left:15px; top:10px; }
.micropayment_card .back .blackmagnetic { width:100%; height:40px; background-color:#000000; position:absolute; left:0px; top:55px; }
.micropayment_card .back .number { position:absolute; text-align:right; right:5px; top:5px; }
.micropayment_card .back .signature { position:absolute; left:15px; top:130px; width:250px; height:30px; background-color:#FFFFFF; text-align:center; line-height:30px; color:#333333; }
.micropayment_card .back .sign input { position:absolute; left:300px; width:75px; text-align:center; line-height:25px; top:135px; border:0px; border-radius:0px; height:25px; padding:0px; }

/* Customerquestion (Dialog Firmenkunde/Endkunde und Land) */
#wpsg_calc_layer { overflow:auto; text-align:center; position:fixed; left:0px; top:0px; z-index:1000; width:100%; height:100%; background-color:rgba(125, 125, 125, 0.95); }
#wpsg_calc_layer .content { padding:50px; position:absolute; left:50%; top:50%; width:640px; min-height:210px; margin-left:-320px; margin-top:-125px; }
#wpsg_calc_layer .content img.loading { position:absolute; left:50%; top:50%; margin-left:-8px; margin-top:-5px; }
#wpsg_calc_layer h2 { color:#000000; font-size:22px; font-weight:bold; line-height:28px; text-align:left; margin-bottom:25px; }
#wpsg_calc_layer .customertype h2 { font-size:22px; font-weight:normal; width:150px; float:left; line-height:28px; }
#wpsg_calc_layer #customerquestion_fk { width:175px; float:left; line-height:28px; }
#wpsg_calc_layer #customerquestion_fk label { font-size:22px; font-weight:normal; line-height:28px; color:#000000; }
#wpsg_calc_layer #customerquestion_ek { width:175px; float:left; line-height:28px; }
#wpsg_calc_layer #customerquestion_ek label { font-size:22px; font-weight:normal; line-height:28px; color:#000000; }
#wpsg_calc_layer .country { clear:both; margin-top:20px; }
#wpsg_calc_layer .country h2 { font-size:22px; font-weight:normal; width:150px; float:left; line-height:28px; }
#wpsg_calc_layer .country select { width:350px; font-size:22px; height:auto; float:left; }
#wpsg_calc_layer input[type="radio"] { height:auto; margin-right:10px; }
#wpsg_calc_layer .button_wrap { width:100%; clear:both; padding-top:20px; }
#wpsg_calc_layer input[type="submit"] { float:right; padding-left:50px; padding-right:50px; }

/* Modul CrefoPay */
#wpsg_mod_crefopay_iframe { width:100%; border:0px; overflow-y:hidden; }

/* Modul PayPal API */
.wrap_paypalapi_expressbutton { text-align:right; }
.wpsg_mod_paypalapi_orderdone .wpsg_mod_paypalapi_field { clear:both; }
.wpsg_mod_paypalapi_orderdone label { width:100%; line-height:36px; }
.wpsg_mod_paypalapi_orderdone input[type="text"],
.wpsg_mod_paypalapi_orderdone select { width:65%; line-height:36px; height:36px; float:right; margin-bottom:3px; box-sizing:border-box; padding:0px; text-indent:10px; }
.wpsg_mod_paypalapi_orderdone input.wpsg_mod_paypalapi_vname { width:30%; margin-right:5%; }
.wpsg_mod_paypalapi_orderdone input.wpsg_mod_paypalapi_name { width:30%; }
.wpsg_mod_paypalapi_orderdone input[type="image"],
.wpsg_mod_paypalapi_orderdone input[type="submit"] { float:right; }
.wpsg_mod_paypalapi_orderdone select.wpsg_mod_paypalapi_month { width:30%; }
.wpsg_mod_paypalapi_orderdone select.wpsg_mod_paypalapi_year { width:30%; }
.wpsg_mod_paypalapi_orderdone .wpsg_mod_paypalapi_spacer { width:5%; float:right; text-align:center; }

/* Modul Anfrageprodukte */
.wpsg_mod_request_requestpage .wpsg_cell_action { width:30px; text-align:center; }
.wpsg_mod_request_requestpage .wpsg_cell_amount { width:125px; }
.wpsg_mod_request_requestpage .wpsg_cell_sumprice { text-align:right; width:200px; }
.wpsg_mod_request_requestpage .wpsg_basket_productimage { float:left; margin-right:5px; }
.wpsg_mod_request_requestpage .wpsg_cell_total_brutto,
.wpsg_mod_request_requestpage .wpsg_cell_total_netto { text-align:right; }
.wpsg_mod_request_requestpage .wpsg_checkout_typ_3 input { margin-right: 5px; width: auto; }
.wpsg_mod_request_requestpage input[type="text"],
.wpsg_mod_request_requestpage select { width:100%; height:30px; margin-top:5px; margin-bottom:5px;}
.wpsg_mod_request_requestpage h2 { margin-top:2rem; margin-bottom:1rem; }
.requestlist_ajax_wrap { padding-bottom:2rem; }

@media screen and (max-width: 400px) {

	.wpsg .wpsg_button { padding-left:10px; padding-right:10px; }
	
	.wpsg_basket .wpsg_cell_gutschein label { width:100%; display:block; }
	.wpsg_basket #wpsg_gutschein_input { float:left; }
	
}

